<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= todo.due_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= todo.user_id %>
  </p>

</div>
