<p style="color: green"><%= notice %></p>

<% if current_user.present? %>
  <%= current_user.email %>
  <%= button_to "Log Out", auth.sign_out_path, method: :delete %>
  <% else %>
  <%= link_to "Log In", auth.sign_in_path %>
<% end %>

<h1>Todos</h1>
<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
</div>

<%= link_to "New todo", new_todo_path %>
